[Unit]
Description=ton-kafka-producer
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=yes
WorkingDirectory=/etc/ton-kafka-producer
ExecReload=kill -HUP $MAINPID
ExecStart=/usr/local/bin/ton-kafka-producer run \
    --config /etc/everscale-monitoring/config.yaml \
    --global-config /etc/everscale-monitoring/ton-global.config.json

[Install]
WantedBy=multi-user.target
